build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/rules.ninja
build/tinyfiledialogs.lib
build/tinyfiledialogsConfig.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-82bee1710624cfd4524d.json
build/.cmake/api/v1/reply/codemodel-v2-5007e85ec2923918f0da.json
build/.cmake/api/v1/reply/index-2020-02-24T02-01-11-0303.json
build/.cmake/api/v1/reply/target-hello-Debug-cd71e3515f2988bd9075.json
build/.cmake/api/v1/reply/target-tinyfiledialogs-Debug-e223e59c228f5ff57772.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.15.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.15.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.15.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.0-rc1/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.15.0-rc1/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/Export/C_/Program_Files_(x86)/tinyfiledialogs/share/tinyfiledialogs/tinyfiledialogsConfig-debug.cmake
build/CMakeFiles/Export/C_/Program_Files_(x86)/tinyfiledialogs/share/tinyfiledialogs/tinyfiledialogsConfig.cmake
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/CMakeFiles/tinyfiledialogs.dir/tinyfiledialogs.c.obj
build/CMakeFiles/tinyfiledialogs.dir/tinyfiledialogs.pdb
build/example/cmake_install.cmake
build/example/hello.exe
build/example/hello.ilk
build/example/hello.pdb
build/example/CMakeFiles/hello.dir/embed.manifest
build/example/CMakeFiles/hello.dir/hello.c.obj
build/example/CMakeFiles/hello.dir/intermediate.manifest
build/example/CMakeFiles/hello.dir/manifest.rc
build/example/CMakeFiles/hello.dir/manifest.res
build/example/CMakeFiles/hello.dir/vc140.pdb
.vscode/settings.json
